include pynvel/*.pyd
include pynvel/*.so
include pynvel/*.cfg
include pynvel/readme.*
include pynvel/test/*.py
include pynvel/test/data/*
include pynvel/examples/*.py
include pynvel/examples/*.csv
include pynvel/arcgis/*.pyt
include pynvel/arcgis/*.tbx
include pynvel/docs/_build/html/*.*
