include pynvel/*.pyd
include pynvel/*.so
include pynvel/*.cfg
include pynvel/readme.*
include pynvel/test/*.py
include pynvel/examples/*.py
include pynvel/examples/*.csv
include pynvel/arcgis/*.pyt
include pynvel/arcgis/*.tbx
recursive-include pynvel/docs/html *
exclude pynvel/docs/*.doc
exclude pynvel/docs/*.*
include pynvel/docs/readme.rst
